/* reset */

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {   
    /* max-width: 1680px; */
    margin: 0 auto;
}

/* header */

header {
    display: flex;
    width: 100vw;
    height: 60px;
    align-items: center;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: 0 5%;
}

.nav-header>.nav-items {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-header>.nav-items>.nav-links {
    margin-left: 10%;
}

.nav-header>.nav-items>.nav-links a {
    text-decoration: none;
    color:#18A0FB;
    font-size: 0.9375rem;
    font-weight: 500;
    margin-right: 20px;
    font-family: Montserrat;
}

.nav-header>.nav-buttons {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.nav-header>.nav-buttons>button {
    margin-left: 12px;
}

.button-style-full {
    background: #18A0FB;
    color: #FFFFFF;
    border-radius: 6px;
    border: 0;
    font-size: 0.9375rem;
    font-weight: 500;
    padding: 11px 2vw;
}

.button-style-empty {
    background: #FFFFFF;
    border: 1px solid #18A0FB;
    color:#18A0FB;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 0.9375rem;
    font-weight: 500;
    padding: 11px 2vw;
}

/* main */

container {
    width: 100vw;
}

.container-video {
    width: 100vw;
    position: relative;
}

.container-video>video {
    width: 100vw;
    opacity: 0.5;
}

.container-video>.video-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    text-align: center;
    top: calc(50% - 101px);
}

.container-video>.video-overlay>.video-play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 132px;
    height: 132px;
    background-color: #18A0FB;
    border-radius: 100%;
    color: #FFFFFF;
    margin-bottom: 5%;
}

.container-video>.video-overlay>.video-play>i {
    font-size: 4.25rem;
}

.container-video>.video-overlay>h1 {
    font-weight: 400;
    font-size: 3.0em;
    margin-bottom: 2.5%;
}


/* responsive */

@media (max-width: 850px) {
    .nav-links {
        display: none;
    }

    .nav-header>.nav-buttons {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}