body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header { 
    display: flex;
    justify-content: center;
    background-color: #0A111B;
    padding: 10px 30px;
}

main {
    text-align: center;
}

footer {
    background-color: #0A111B;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #f2f2f2;
    text-align: center;
    font-size: small;
    margin-bottom: 30px;
}

hr {
    margin: 50px 0;
}

img {
    /* display: inline-flex; */
    /* align-items: center; */
    margin: 0 10px;
}

nav {
    text-align: center;
    margin: 20px 10px;
}

a {
    display: inline-flex;
    align-items: center;
    color: #f2f2f2;
    font-size: 20px;
    text-decoration: none;
    margin: 0 15px;
}

a:hover {
    text-decoration: overline;
}

h1 {
    font-size: xx-large;
}

h3 {
    font-size: 20px;
    color: #f2f2f2;
}

h4 {
    color: #1D573A;
}



iframe {
    margin-bottom: 30px;
}

form input, textarea, select {
    display: block;
    width: 40%;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px 10px;
    border-radius: 4px;
    background-color: #f1f1f1;
    border: none;
}

input, select {
    margin-bottom: 30px;
}

.button {
    background-color:#31435B;
    color: #f2f2f2;
}

.button:hover {
    background-color: #0f1c2c;
}

.container {
    max-width: 60%;
    margin: 0 auto;
}

.menu {
    display: flex;
    max-width: 70%;
    margin: 20px auto;
}

 .first-content {
    text-align: left;
}

.second-content {
    text-align: right;
}

.table-classes {
    display: flex;
    justify-content: center;
}

.table-classes p {
    text-align: center;
}

.table-classes img {
    margin: 0 50px;
}